%h1 Sessions#new
%p Find me in app/views/sessions/new.html.haml

= form_for(:session, url: login_path) do |f|
  
  = f.label :email
  = f.email_field :email, class: 'form-control'

  = f.label :password
  = f.password_field :password, class: 'form-control'

  = f.hidden_field :result_uid, value: @result_uid

  = f.submit "Log in", class: "btn btn-primary"

%br
= button_to "トップへ戻る", "/", method: :get
