%div.top-content-wrapper
  %div.buttons-above-title-wrapper
    = button_to "ランキング", "/ranking/show", method: :get, class: "buttons-above-title"
    - if logged_in?
      = button_to "マイページ", @user, method: :get, class: "buttons-above-title"
    - else
      = button_to "新規登録", "/users/new", method: :get, class: "buttons-above-title"
      = button_to "ログイン", "/sessions/new", method: :get, class: "buttons-above-title"
  %div.title 単位落とすな
  = button_to "スタート", "/play", method: :get, class: "start-button"
  = button_to "遊び方", "/play", method: :get, class: "how-to-button"

