%h1 This is show page of result!

%div.buttons-above-title-wrapper
  - unless logged_in?
    = button_to "新規登録", new_user_path, { method: :get, params: {result_uid: @result.uid} }
    %span または
    = button_to "ログイン", sessions_new_path, { method: :get, params: {result_uid: @result.uid} }
    %span してこの結果を保存しましょう！
%h2
  称号:
  = @result.title
%div
  単位: 
  = @result.tanni_point
%div
  恋愛: 
  = @result.love_point
%div
  サークル: 
  = @result.club_point
%div
  就活: 
  = @result.business_point
%br

= button_to "トップへ戻る", "/", method: :get
